body{
    background-color:lavender;
}
p{
    color: black;
    margin:0PX;
}
.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color:brown;
    font-size: 20px;
    display: flex;
    flex-direction: row;
  }
  footer {
    text-align: left;
    padding: 3px;
    background-color: lightsteelblue;
    color: white;  
    
  }
  .links{
      background-color:white;
      color: maroon;
      font-size: 20px;
      text-align: right;
      padding-right: 3px;
  }
  a:hover{
      background-color: red;
  }
  a{
      background-color:transparent;
      border-radius: 3px;
  }
.portfolio {
    display: flex;
    position: relative;
    justify-content: space-around;
}
div img{
    padding-right:20px;
}
h2{
    color:red;
}
.welcomemsg{
    background-color: darkgoldenrod;
}
.portfolio {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .seats{
background-color: darkkhaki;
justify-content: space-around;
  }
  .table img{
      background-color:DarkSalmon;
      justify-content: space-evenly;
  }
  .table{
      background-color: rosybrown;
  }
  h1{
      text-align:center;
      color:white;
  }
  .shoe{
      background-color: lightblue;
  }
  .tv img{
      background-color: peru;
      justify-content: space-around;
  }
  .tv{
    background-color: palegoldenrod;
  }
  marquee{
      background-image: url("images/background.jpeg");
      padding:20px;
      font-size:15px;
  }
 .logos{
     padding-right: 10px;
 }
 .bed{
     justify-content: space-evenly;
     background-color: steelblue;
 }
 img title{
     background-color: white;
     color:red;
 }
.about{
   margin: 40px 40px 40px 40px;
   background-color: yellowgreen;
   padding:20%;
}